@font-face {
    font-family: 'white_elephantregular';
    src: url('white_elephant-webfont.eot');
    src: url('white_elephant-webfont.eot?#iefix') format('embedded-opentype'),
         url('white_elephant-webfont.woff2') format('woff2'),
         url('white_elephant-webfont.woff') format('woff'),
         url('white_elephant-webfont.ttf') format('truetype'),
         url('white_elephant-webfont.svg#white_elephantregular') format('svg');
}

@font-face {
    font-family: 'genomethin';
    src: url('genome-thin-webfont.eot');
    src: url('genome-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('genome-thin-webfont.woff2') format('woff2'),
         url('genome-thin-webfont.woff') format('woff'),
         url('genome-thin-webfont.ttf') format('truetype'),
         url('genome-thin-webfont.svg#genomethin') format('svg');
}

* {
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}

.background {
    background-color: #cecbb7;
}

#banner {
    padding: 0px;
    width: 1400px;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    padding: 0px;
    width: 1400px;
    position: relative;
}
.writeup {
    width: 975px;
    background-color: #f2f0e3;
    float:left;
    
}
.writeup p {
    padding: 0 20px;
}

.updates ul li {
    list-style-type: none;
}

.updates {
    font-family:'genomethin';
    width: 400px;
    margin-bottom: 5px;
    float:right;
    right: 5px;
    border: solid 1px;
}

.update-title{
    font: bold 25px monospace;

}

.update-date{
    padding: 0;
    margin: 0;
    text-align: center;

}

.headers {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    font-family: 'white_elephantregular', Fallback, Impact;
    padding: 15px 0 0 0;
}

#navbar {
    text-align: center;
}

#navbar ul li {
    list-style-type: none;
    display: inline;
    padding: 0 30px;
    font: 55px 'white_elephantregular', Impact;
    color: #5f0e1e;
}

#main { 
    font-family: impact;
}

#footer {
    font-size: 25px;
    color: #262729;
    font-family: 'genomethin', Fallback, Impact;
    clear: both;
    text-align:center;
    border-bottom: solid 1px;
    border-top: solid 1px;
}

#credits {
    font-size: 15px;
}

.update-headers {
    font-weight: bold;
}

/* clear fix */
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*
html { 
      background: url(/images/paper_by_francy84.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

*/
